<!DOCTYPE html>
<html>

<head>
  <%- include('head-inc'); %>
</head>

<body>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><a href="/gallery">Gallery</a></li>
</ul>
<div class="container">
  <h2>Upload Image to IBM Cloud Object Storage</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="container" style="margin-top: 20px;">
        <div class="row">

          <div class="col-lg-8 col-md-8 well">

            <p class="wellText">Upload your .jpg image file here</p>

            <form method="post" enctype="multipart/form-data" action="/">
              <p><input class="wellText" type="file" size="100px" name="img-file" /></p>
              <br/>
              <p><input class="btn btn-danger" type="submit" value="Upload" /></p>
            </form>

            <br/>
            <span class="notice"><%=status%></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
